# Google Service Account
GOOGLE_PROJECT_ID=sap-testing-487611
GOOGLE_CLIENT_EMAIL=
GOOGLE_PRIVATE_KEY=
GOOGLE_SHEET_ID=
KYC_DRIVE_FOLDER_ID=

# SMTP
SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASS=

# App
APP_BASE_URL=http://localhost:3000
JWT_SECRET=
